---
title: Projects
show_title: false
---

%p
  Some projects I've lead whilst at NetEngine include #{link_to 'Big Sky', '/projects/bigsky', class: 'bigsky featured'} and #{link_to 'Terrain', '/projects/terrain', class: 'terrain featured'}. I've also been heavily involved with the design and development of #{link_to 'Trigger', 'http://netengine.com.au/projects/trigger/', class: 'trigger'}, #{link_to 'Ausbuild', 'http://netengine.com.au/projects/ausbuild_co/', class: 'ausbuild'}, #{link_to 'Scout', 'http://netengine.com.au/projects/scout/', class: "scout"} amongst others.

%p
  Since its inception in 2013 I've been involved with #{link_to 'RHoK Brisbane', "http://rhokbrisbane.org", class: "rhokbrisbane"}, and have helped co-ordinate, design and build projects with #{link_to "QLD Kids", "http://concierge.org.au/", class: "concierge"} and #{link_to "Karuna", "http://karuna.rhokbrisbane.org/", class: "karuna"}.

%p
  In my spare time I've been experimenting with building simple, beautiful data-driven apps such as #{link_to "Cricket Scores", "http://cricket-scores.herokuapp.com/", class: "cricket-scores"} and #{link_to "QLD Nature Data", "http://nature-qld.herokuapp.com/", class: "nature-qld"}.

%p More is available on #{link_to 'GitHub', 'https://github.com/rowanhogan', class: 'github'} & #{link_to 'Dribbble', 'http://dribbble.com/rowanhogan', class: 'dribbble'}
