---
title: Projects
show_title: false
---

%h1 Projects

%ul.projects
  - data.projects.each do |project|
    %li
      = link_to project.url, class: project.name do
        %span
          = project.title
          - unless project.collaboration.nil?
            %em.collaborator= "with #{project.collaboration}"
        %small= project.subtitle



%br
%span More is available on #{link_to 'GitHub', 'https://github.com/rowanhogan', class: "github"} & #{link_to 'Dribbble', 'http://dribbble.com/rowanhogan', class: 'dribbble'}
