= link_to 'GitHub', 'https://github.com/rowanhogan'
= link_to 'Dribbble', 'http://dribbble.com/rowanhogan'
= link_to 'Twitter', 'https://twitter.com/rowanhogan'
= link_to 'LinkedIn', 'http://www.linkedin.com/in/rowanhogan'
= link_to 'Last.fm', 'http://www.last.fm/user/rehogan'
