= link_to 'GitHub', 'https://github.com/rowanhogan', class: 'github'
= link_to 'Dribbble', 'http://dribbble.com/rowanhogan', class: 'dribbble'
= link_to 'LinkedIn', 'http://www.linkedin.com/in/rowanhogan', class: 'linkedin'
= link_to 'Twitter', 'https://twitter.com/rowanhogan', class: 'twitter'
= link_to 'Last.fm', 'http://www.last.fm/user/rehogan', class: 'lastfm'
