!!! 5
%html{ lang: "en" }
  %head
    %title= "#{current_article.title} - Rowan Hogan dot com."

    %meta{ charset: "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %meta{ name: "description", content: "Full-stack designer from Brisbane, Australia." }
    %meta{ name: "viewport", content: "width=device-width, minimal-ui" }

    = favicon_tag "favicon.ico"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "print", media: 'print'

    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"

  %body{ class: page_classes }
    %header.site-header
      .container
        = partial "layouts/logo"

        %nav.site-nav
          = partial "layouts/nav"

    %section.site-main
      .container

        %h1= current_article.title
        %em.date= current_article.date.strftime("%A, %e %B %Y")

        %section.article-body
          = current_article.body

        %footer.blog-post-footer
          - if current_article.previous_article
            = link_to 'Prev', current_article.previous_article.url, :class => 'prev' if current_article.previous_article
          - else
            %span.prev.disabled Prev

          = link_to 'See all posts', '/articles'

          - if current_article.next_article
            = link_to 'Next', current_article.next_article.url, :class => "next"
          - else
            %span.next.disabled Next


    %footer.site-footer
      .container
        %nav.site-nav
          = partial "layouts/social"

    = javascript_include_tag "application"

    - if build?
      = partial "layouts/analytics"

    %link{ href: 'https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700', rel: 'stylesheet', type: 'text/css' }
