!!! 5
%html{ lang: "en" }
  %head
    %title= data.page.title
    = partial "layouts/head"
  %body
    %section.site-main.site-main-home
      .container
        = yield

    %footer.site-footer
      .container
        %nav.site-nav= partial "layouts/social"

    = javascript_include_tag "application"

    - if build?
      = partial "layouts/analytics"
