!!! 5
%html{ lang: "en" }
  %head
    %title= "#{data.page.title} | Rowan Hogan"
    = partial "layouts/head"
  %body{ class: page_classes }
    %header.site-header
      .container
        %nav.site-nav= partial "layouts/nav"

    %section.site-main
      .container
        %h1.page-title{ style: ("display: none" if data.page.show_title == false) }
          = data.page.title
        
        = yield

    %footer.site-footer
      .container
        %nav.site-nav= partial "layouts/social"

    = javascript_include_tag "application"

    - if build?
      = partial "layouts/analytics"
