---
title: Contact
---

= image_tag 'photo.jpg', style: 'width: 10em; border-radius: 50%;'

%p= "See what I've been up to on #{link_to 'GitHub', 'https://github.com/rowanhogan'}, #{link_to 'http://dribbble.com/rowanhogan', 'Dribbble'} or #{link_to 'http://www.linkedin.com/in/rowanhogan', 'LinkedIn'}, or send me a message on #{link_to 'https://twitter.com/rowanhogan', 'Twitter'}."

%p Or, who doesn't love a form?

%form{ action: "//formspree.io/hello@rowanhogan.com", method: "POST" }
  %input{ type: "text", name: "_gotcha", style: "display:none" }
  %input{ type: "hidden", name: "_next", value: "//rowanhogan.com/animation" }

  .grid-container
    .one-half
      %input{ type: "text",  name: "name", placeholder: "Your name" }
    .one-half
      %input{ type: "email",  name: "_replyto", placeholder: "Your email" }

  %textarea{ name: "message", rows: "5", placeholder: "Your glorious message" }

  %button{ type: "submit" } Send

