- content_for :head do
  %title Rowan Hogan
  %meta{:name => 'author', :content => 'Rowan Hogan'}
  %meta{:name => 'description', :content => 'Web designer & developer, general enthusiast.'}

%article
  %header
    %h1
      Web designer
      %span.amp &
      developer&#44;
      general enthusiast.

  %p Currently working for <a href="http://netengine.com.au">NetEngine</a> in Brisbane, Australia.
  %p Lead designer for <a href="http://triggerapp.com">TriggerApp</a>.

%figure.slider
  %ul
    %li= link_to (tag :img, :src => 'http://dribbble.s3.amazonaws.com/users/36126/screenshots/716569/teetimes.png'), 'http://drbl.in/ffaj'
    %li= link_to (tag :img, :src => 'http://dribbble.s3.amazonaws.com/users/36126/screenshots/716599/fls.png'), 'http://drbl.in/ffaN'
    %li= link_to (tag :img, :src => 'http://dribbble.s3.amazonaws.com/users/36126/screenshots/716611/social.png'), 'http://drbl.in/ffaZ'
    %li= link_to (tag :img, :src => 'http://dribbble.s3.amazonaws.com/users/36126/screenshots/716569/teetimes.png'), 'http://drbl.in/ffaj'
    %li= link_to (tag :img, :src => 'http://dribbble.s3.amazonaws.com/users/36126/screenshots/716599/fls.png'), 'http://drbl.in/ffaN'
    %li= link_to (tag :img, :src => 'http://dribbble.s3.amazonaws.com/users/36126/screenshots/716611/social.png'), 'http://drbl.in/ffaZ'
    %li= link_to (tag :img, :src => 'http://dribbble.s3.amazonaws.com/users/36126/screenshots/716569/teetimes.png'), 'http://drbl.in/ffaj'
    %li= link_to (tag :img, :src => 'http://dribbble.s3.amazonaws.com/users/36126/screenshots/716599/fls.png'), 'http://drbl.in/ffaN'
    %li= link_to (tag :img, :src => 'http://dribbble.s3.amazonaws.com/users/36126/screenshots/716611/social.png'), 'http://drbl.in/ffaZ'
    %li.afterCurrent= link_to (tag :img, :src => 'http://dribbble.s3.amazonaws.com/users/36126/screenshots/716569/teetimes.png'), 'http://drbl.in/ffaj'
    %li.current= link_to (tag :img, :src => 'http://dribbble.s3.amazonaws.com/users/36126/screenshots/716599/fls.png'), 'http://drbl.in/ffaN'
    %li.beforeCurrent= link_to (tag :img, :src => 'http://dribbble.s3.amazonaws.com/users/36126/screenshots/716611/social.png'), 'http://drbl.in/ffaZ'
