!!!5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=400, initial-scale=1"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}

    %link{:rel => 'shortcut-icon', :href => 'favicon.ico'}

    = stylesheet_link_tag "site.css"
    = javascript_include_tag "application.js"

    :plain
      <!--[if lt IE 9]>
        <script src="javascripts/html5shim.js"></script>
      <![endif]-->

      <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" href="stylesheets/ie8.css" />
      <![endif]-->

      <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="stylesheets/ie8.css" />
      <![endif]-->

    = yield_content :head


  %body

    .wrapper

      %header#header
        %figure
          #waves
            - numbers = Array(1..20)
            - numbers.reverse.each do |num|
              %span{:class => "wave wave-#{num}"}

          .image-wrapper= image_tag "http://gravatar.com/avatar/bcc3b40bdd3fe398aad85a6abda0f91b?size=180", :alt => "Photo of Rowan Hogan"
          %figcaption Rowan Hogan


      %section#main= yield

      %ul#icons
        - Array(1..7).each_with_index do |icon, i|
          %li{:class => "icon-#{i + 1}"}

      %footer#footer
        %nav
          = link_to 'Github', 'https://github.com/rowanhogan', :class => 'icon-github icon-1'
          = link_to 'Dribbble', 'http://dribbble.com/rowanhogan', :class => 'icon-dribbble icon-2'
          = link_to 'Twitter', 'http://twitter.com/rowanhogan', :class => 'icon-twitter icon-3'
          = link_to 'Last.fm', 'http://last.fm/user/rehogan', :class => 'icon-lastfm icon-4'
          = link_to 'LinkedIn', 'http://linkedin.com/in/rowanhogan', :class => 'icon-linkedin icon-5'
