---
title: Rèsumè
---

.contact-info-block
  %h1= @resume.name
  %h3= @resume.title

  %label.contact-info
  %dl
    - @resume.social.each do |social|
      %dt= social.name
      %dd= link_to social.url, social.url, class: social.name

%h2 Work

- @resume.jobs.each do |job|
  %h4
    - if job.link
      = link_to job.company, job.link
    - else
      = job.company
    %em= job.period
  %h5= job.title
  .job-description
    = job.description.html_safe

%h2 References

%ul.references
  - @resume.references.each do |reference|
    %li.reference
      %h4= reference.name
      %p
        %em= reference.position
      = reference.content.html_safe


%h2 Volunteering

- @resume.volunteering.each do |item|
  %h4
    - if item.link
      = link_to item.name, item.link
    - else
      = item.name
    %em= item.period
  = item.description.html_safe


%h2 Education

- @resume.education.each do |item|
  %h4
    - if item.link
      = link_to item.name, item.link
    - else
      = item.name
    %em= item.period
  %h5= item.degree
  = item.description.html_safe

%h2 Skills

%figure.skills
  %figcaption
    According to endorsements from others on
    %a{:href => "http://au.linkedin.com/in/rowanhogan#background-skills", :target => "_blank"} LinkedIn
  .labels
    - @resume.skills.each do |skill|
      %label{:style => "width: #{skill.endorsements}em;"}= skill.name

%br

%a.web-only{:href => "#", :onclick => "event.preventDefault(); window.print();"} Print / PDF
